body {
    display: flex;
    justify-content: center;
    justify-items: center;
    a,
    a:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
}

.wrapper {
    display: grid;
    width: 1200px;

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;

    grid-template-areas:
        "h h"
        "n c";
    grid-gap: 10px;
}
